$olive: #4c4743;
$white: #ffffff;
$Dark-Gray: #acaba7;
$primary: #fe5e3a;
$Black-Olive: #433e3a;
$Vivid: #fe9601;
$Bright-Gray: #eeeff1;
$Dark-Lemon: #76c80e;
$Light-Sea: #1fbba6;
$light-Gray: #D2D5D5;
$Davy-Grey: #656766;
$Flash-White: #F1F1F1;
$space-gray: #5a5a5a;
$Dim-Gray: #6b6b6b;
$Crayola: #a3a0a0;
$Lotion: #f9f9f9;
$dark-silver: #756f6f;
$quick-silver: #9f9f9f;
$Philippine-Gray: #8C8D88;
$circle-color: #307bbb;
$circle-bg-color: #ccc;
$maya-blue: #6dcff6;
$Dark-Charcoal:#302d2d;
$outer-space:#454949;