@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&family=Roboto&display=swap');
@import '/src/assets/scss/base/variable.scss';

* {
    font-family: 'Open Sans';
}
.main-content{
    width: calc(100% - 285px);
    margin-left: auto;

    
   
    @media screen and (max-width : 1150px) {
        width: 100%;
        margin-left: 0;
        position: none;
        display: block;
    }

}